/* Global CSS Start */
:root{
    --header: #121212; /*Header & Body*/
    --hero-cards: #1D1D1D; /* Hero BG and Our Course Cards*/
    --span-hovers: #BEA69E; /* Span Words and Hover*/
    --text-color: #FFFFFF; /* Texts - Buttons and Links */
}
html,
body{
    background-color: var(--header);
    background-image: url(../images/Graphic.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a, p, li, h1, h2, h3 ,h4{
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
}
h1{
    margin: 0 20px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.04em;
    text-align: start;
}
h2,h3{
    margin-left: 20px;
}
p{
    margin: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: start;
}
span{
    color: var(--span-hovers);
    font-style: italic;
}
/* Global CSS End */
/* Header Starts */
header{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 375px;
    height: fit-content;
    margin: 0 20px;
    margin-top: 20px;

}
header .container{
    display: flex;
    position: relative;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    max-width: 375px;
    border: 1px solid #ffffff40;
    border-radius: 12px;
}
.container .logo{
    width: 100%;
    margin: 17px 0;
    margin-left: 20px;
}
.container .header-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 17px;
    height: fit-content;
    align-self: center;
}
.container .header-menu .icon-camm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 32px;
    height: 32px;
    border: 1px solid var(--hero-cards);
}
header .sign-btn{
    padding: 16px 58px;
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: start;
    display: none;
}
header .icon-camm{
    visibility: hidden;
}

 /*Mobil Menü */
 .mobile-menu {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 218px;
    background: #BEA69E;
    border-radius: 12px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 812PX;
    transition: right 0.3s ease-in-out;
}
.mobile-menu .close{
    display: block;
    position: absolute;
    right: 20px;
    color: black;
}
.mobile-menu .nav-list {
    list-style: none;
    padding: 0;
    margin-top: 180px;
}

.mobile-menu .nav-list .nav-list-item {
    margin-bottom: 10px;
}

.mobile-menu .nav-list .nav-list-item a {
    text-decoration: none;
    color: var(--header);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: auto;
    text-transform: uppercase;
}
.mobile-menu .nav-list .nav-list-item a:active{
    font-weight: 700;
}
.mobile-menu .menupng{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.mobile-menu.active {
    right: 0;
}
/* Header Ends */
/*Hero Start*/
.hero{
    background-image: url(../images/Graphic.png);
    background-repeat: no-repeat;
}
.hero .container{
    margin: 20px;
    border: 1px solid var(--hero-cards);
    border-radius: 30px;
    background-color: var(--hero-cards);
    width: 90%;
    flex-direction: column;
    max-width: 375px;
}
.hero .container .hero-img{
    margin: 0 38px;
}
.hero .container .hero-card{
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.hero .container .hero-card .card-users .user-img{
    margin-left: 20px;
}
.hero .container .hero-card .card-users .user-para{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 20px;
}
.user-para p{
    margin: 0;
    white-space: wrap;
    width: 80px;
}
.hero .container .hero-card .card-reviews{
    display: flex;
    gap: 12px;
}
.hero .container .hero-card .card-reviews .review-para{
    margin: 0;
    color: #FFFFFF50;
    font-weight: 300;
}
.hero .container .hero-card .card-reviews .review-para span{
    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
}
.hero .container .hero-card .card-reviews .review-svg{
    background: var(--span-hovers);
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Hero End*/

/*Ad Start*/
.ad{
    display: block;
    position: relative;
    overflow: hidden;
    background-color: var(--header);
    max-width: 375px;
}
.ad .container{
    margin-left: 20px;
    border-top: 1px solid #ffffff50;
    border-bottom: 1px solid #ffffff50;
}
.ad .ad-head{
    display: block;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: -0.02em;
    line-height: 38px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: moveText 5s linear infinite;
    will-change: transform;
    margin: 10px;
}
  /*AD Animation*/
  @keyframes moveText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.ad .ad-head .ad-span{
    font-style: normal;
}
/*Ad End*/
/*About Us Start*/
.about-us{
    background-color: var(--header);
    padding-top: 20px;
}
.about-us .container{
    flex-direction: column;
}
.about-us .container .about-head{
    margin: 20px;
}
.about-us .container .about-head .about-span{
    font-style: normal;
}
.about-us .container .about-content .about-img{
    margin: 20px;
}
/*About Us End*/

/*Our Courses Start*/
.our-course{
    display: block;
    position: relative;
    overflow: hidden;
}
.our-course .container{
    flex-direction: column;
    gap: 20px;
}
.our-course .container .course-cards{
    border: 1px solid #ffffff50;
    border-radius: 12px;
    margin: 0 20px;
}
.our-course .container .course-cards .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 32px;
    margin-top: 28px;
    margin-left: 8px;
}
.our-course .container .course-cards .card-top .card-number{
    color: #ffffff40;
}
.our-course .container .course-cards .card-top svg{
    margin-right: 28px;
}
.our-course .container .course-cards .card-content{
    display: flex;
    flex-direction: column;
    gap: 164px;
}
.our-course .container .course-cards .card-content .card-head{
    margin:28px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
}
.our-course .container .course-cards .card-content .card-text{
    margin-left: 28px;
    color: #FFFFFF50;
}
/*Our Courses End*/

/* Our Mentor Start */
 .our-mentor{
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
 }
 .our-mentor .container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
 }
 .our-mentor .container .mentor-head{
    align-self: flex-start;
 }
 .our-mentor .container .mentor-head .mentor-span{
    font-style: normal;
 }
 .our-mentor .container .mentor-content{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 4px;
    align-items: center;
 }
 .our-mentor .container .mentor-content .mentor-name,.our-mentor .container .mentor-content .mentor-text{
    margin: 0;
 }
 .our-mentor .container .mentor-content .mentor-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
 }
 .our-mentor .container .mentor-content .mentor-text{
    color: #ffffff50;
 }

/*Our Mentor End */

/*Sign Up Start*/
 .signUp{
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
 }
 .signUp .container{
    flex-direction: column;
 }
 .signUp .container .signUp-head .sign-span{
    font-style: normal;
 }
 .signUp .container .signUp-head{
    margin-bottom: 0;
 }
.signUp .container .sign-form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.signUp .container .sign-form .form-input{
    border: 1px solid #ffffff40;
    background-color: #12121200;
    border-radius: 12px;
    padding: 14px 18px;
}
.signUp .container .sign-form .submit{
    background-color: var(--text-color);
    color: var(--header);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 32px;
}
.signUp .container .sign-form .text-area{
    height: 150px;
    padding: 20px;
    text-align: left;
    line-height: 1.5;
    resize: none; 
    border: 1px solid #ffffff40;
    background-color: #12121200;
    border-radius: 12px;
    vertical-align: top;
}
.signUp .container .sign-form .form-footer{
    margin: 12px 0;
    color: #ffffff40;
    font-size: 12px;
}
.signUp .container .sign-form .form-footer .form-link{
    color: inherit;
    text-decoration: underline;
    width: fit-content;
    display: inline-block;
}
.signUp .container .sign-form .form-footer .form-link:hover, .signUp .container .sign-form .form-footer .form-link:active{
    color: var(--span-hovers);
}
/*Sign Up End*/

/* Reviews Start */
.review{
    display: block;
    position: relative;
    overflow: hidden;
}
.review .container{
    flex-direction: column;

}
.review .container .review-card{
    display: flex;
    border: 1px solid #ffffff30;
    margin: 20px;
    border-radius: 12px;
    flex-direction: column;
    margin-bottom: 80px;
}
.review .container .review-card .review-content .review-img{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
}
.review .container .review-card .review-content{
    display: flex;
}
.review .container .review-card .review-content .review-info{
    display: flex;
    flex-direction: column;
}
.review .container .review-card .review-content .review-info .yellow-rating{
    width: 100%;
    margin-top: 8px;
}
.review .container .review-card .review-content .review-info .yellow-rating .star{
    fill: var(--span-hovers);
}
.review .container .review-card .review-content .review-info .yellow-rating .black-star{
    fill: #414141;
}
.review .container .review-card .review-content .review-info  .review-name{
    margin: 0;
    margin-top: 28px;
}
.review .container .review-card .review-content .review-role{
    margin: 0;
    margin-top: 10px;
    align-self: flex-start;
    color: #ffffff40;
}
/* Reviews End */

/*Footer Start*/
footer{
    background-image: url(../images/footer.png);
    background-position: 50% 50%;
    border-top: 1px solid #ffffff20;
    border-bottom: 1px solid #ffffff20;
}
footer .container{
    flex-direction: column;
}
footer .container .list-item .list-link{
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}
footer .container .contact-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
footer .container .footer-nav{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-left: 20px;
}
footer .container .footer-nav .list-item .list-link{
    text-transform: uppercase;
}
footer .container .footer-nav .social-list, footer .container .footer-nav .nav-list{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
footer .container .footer-form{
    margin: 20px;
    min-width: 340px;
}
footer .container .footer-form #f-mail{
    border-radius: 14px;
    padding: 20px;
}
footer .container .footer-form .submit{
    background-color: var(--hero-cards);
    color: var(--text-color);
    font-size: 20px;
    padding: 18px;
    border-radius: 14px;
    border: none;
    margin-left: 8px;
}
footer .footer-footer{
    display: flex;
    width: 90%;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    gap: 40px;
    align-items: flex-end;
    margin-left: 20px;
    margin-bottom: 20px;
}
footer .footer-footer .footer-text{
    width: 100%;
    font-size: 12px;
    margin: 0;
    white-space: nowrap;
}
/*Footer End*/


/* RESPONSIVE */

@media (min-width:768px) and (max-width:1158px){
    body{
        max-width: 768px;
        background-image: url(../images/bg-tablet.png);
    }
    header{
        max-width: 768px;
        margin: 20 auto;
        width: 100%;
    }
    header .container{
        max-width: 100%;
    }
    header .sign-btn{
        display: block;
        margin-left: 20px;
        border:none;
    }
    .hero .container{
        max-width: 100%;
        width: 100%;
        background-image: url(../images/hero-tablet.png);
        background-size: 393px 434px;   /* Resmi kırpmadan sığdır */
        background-repeat: no-repeat; /* Tekrar etmesini engelle */
        background-position: center bottom; /* Ortala ve en alta yerleştir */
    }
    .hero .container .hero-heading{
        font-size: 60px;
        max-width: 500px;
        margin: 0;
        margin-left: 32px;
        margin-top: 64px;
        line-height: 64px;
    }
    .hero .container .hero-para{
        max-width: 418px;
    }
    .hero .container .hero-card .card-users{
        display: flex;
    }
    .hero .container .hero-card .card-users .user-para{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .hero .container .hero-img{
        visibility: hidden;
    }
    .mobile-menu{
        width: 480px;
        height: 1024px;
    }

    .mobile-menu .nav-list {
        list-style: none;
        padding: 0;
        margin-top: 232px;
        margin-left: 64px;
    }
    
    .mobile-menu .nav-list .nav-list-item {
        margin-bottom: 28px;
    }

    .mobile-menu .menupng{
        visibility: hidden;
    }
    .mobile-menu{
        background-image: url(../images/menu-tablet.png);
        background-repeat: no-repeat; /* Tekrar etmesini engelle */
        background-position: center bottom; /* Ortala ve en alta yerleştir */
    }
    .ad{
        max-width: 110%;
        width: 110%;
        margin-top: 100px;
    }
    .ad .container{
        max-width: 100%;
        margin: 0;
        border-right: none;
        border-left: none;
        border-radius: 0;
        width: 110%;
    }
    .about-us .container{
        max-width: 100%;
        margin-top: 80px;
    }
    .about-us .container .about-head{
        font-size: 48px;
        font-weight: 400;
        line-height: 54px;
    }
    .about-us .container .about-content .about-img-div{
        background-image: url(../images/about-tablet.png);
        background-repeat: no-repeat;
    }
    .about-us .container .about-content .about-img{
        width: 304px;
        height: 304px;
        visibility: hidden;
    }   
    .about-us .container .about-content{
        margin-left: 20px;
    }
    .about-us .container .about-content .about-text-div{
        display: flex;
        gap: 40px;
        margin-top: 30px;
    }
    .about-us .container .about-content .about-text-div .about-text{
        font-size: 16px;
        line-height: 20px;
        max-width: 280px;
        margin: 0;
    }
    .our-course{
        margin-top: 100px;
    }
    .our-course .container .course-content{
        display: flex;
        margin-bottom: 50px;
    }
    .our-course .container .course-content .course-head{
        font-size: 48px;
        line-height: 54px;
        margin: 0;
        margin-left: 20px;
        font-weight: 400;
    }
    .our-course .container .course-content .course-text{
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }
}