/* Global CSS Start */
:root{
    --header: #121212; /*Header & Body*/
    --hero-cards: #1D1D1D; /* Hero BG and Our Course Cards*/
    --span-hovers: #BEA69E; /* Span Words and Hover*/
    --text-color: #FFFFFF; /* Texts - Buttons and Links */
}
html,
body{
    background-color: var(--header);
    background-image: url(../images/Graphic.png);
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
a, p, li, h1, h2, h3 ,h4{
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
}
h1{
    margin: 0 20px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.04em;
    text-align: start;
}
h2,h3{
    margin-left: 20px;
}
p{
    margin: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: start;
}
span{
    color: var(--span-hovers);
    font-style: italic;
}
/* Global CSS End */
/* Header Starts */
header{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 375px;
    height: fit-content;
    margin: 0 20px;
    margin-top: 20px;
    border: 1px solid #ffffff40;
    border-radius: 12px;
}
.container{
    display: flex;
    position: relative;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    max-width: 375px;
}
.container .logo{
    width: 100%;
    margin: 17px 0;
    margin-left: 20px;
}
.container .header-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 17px;
    height: fit-content;
    align-self: center;
}
.container .header-menu .icon-camm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 32px;
    height: 32px;
    border: 1px solid var(--hero-cards);
}
/* Header Ends */
/*Hero Start*/
.hero{
    background-image: url(../images/Graphic.png);
    background-repeat: no-repeat;
}
.hero .container{
    margin: 20px;
    border: 1px solid var(--hero-cards);
    border-radius: 30px;
    background-color: var(--hero-cards);
    width: 90%;
    flex-direction: column;
    max-width: 375px;
}
.hero .container .hero-img{
    margin: 0 38px;
}
.hero .container .hero-card{
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.hero .container .hero-card .card-users .user-img{
    margin-left: 20px;
}
.hero .container .hero-card .card-users .user-para{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 20px;
}
.user-para p{
    margin: 0;
    white-space: wrap;
    width: 80px;
}
.hero .container .hero-card .card-reviews{
    display: flex;
    gap: 12px;
}
.hero .container .hero-card .card-reviews .review-para{
    margin: 0;
    color: #FFFFFF50;
    font-weight: 300;
}
.hero .container .hero-card .card-reviews .review-para span{
    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
}
.hero .container .hero-card .card-reviews .review-svg{
    background: var(--span-hovers);
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Hero End*/

/*Ad Start*/
.ad{
    display: block;
    position: relative;
    overflow: hidden;
    background-color: var(--header);
    max-width: 375px;
}
.ad .container{
    margin-left: 20px;
    border-top: 1px solid #ffffff50;
    border-bottom: 1px solid #ffffff50;
}
.ad .ad-head{
    display: block;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: -0.02em;
    line-height: 38px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: moveText 5s linear infinite;
    will-change: transform;
    margin: 10px;
}
  /*AD Animation*/
  @keyframes moveText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.ad .ad-head .ad-span{
    font-style: normal;
}
/*Ad End*/
/*About Us Start*/
.about-us{
    background-color: var(--header);
    padding-top: 20px;
}
.about-us .container{
    flex-direction: column;
}
.about-us .container .about-head{
    margin: 20px;
}
.about-us .container .about-head .about-span{
    font-style: normal;
}
.about-us .container .about-content .about-img{
    margin: 20px;
}
/*About Us End*/

/*Our Courses Start*/
.our-course{
    display: block;
    position: relative;
    overflow: hidden;
}
.our-course .container{
    flex-direction: column;
    gap: 20px;
}
.our-course .container .course-cards{
    border: 1px solid #ffffff50;
    border-radius: 12px;
    margin: 0 20px;
}
.our-course .container .course-cards .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 32px;
    margin-top: 28px;
    margin-left: 8px;
}
.our-course .container .course-cards .card-top svg{
    margin-right: 28px;
}
.our-course .container .course-cards .card-content{
    display: flex;
    flex-direction: column;
    gap: 164px;
}
.our-course .container .course-cards .card-content .card-head{
    margin:28px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
}
.our-course .container .course-cards .card-content .card-text{
    margin-left: 28px;
    color: #FFFFFF50;
}
/*Our Courses End*/
